{% extends 'base.html' %}

{% block title %}Yodlr Registration Page{% endblock %}
{% block content %}
<h1 class="title">Yodlr Registration Portal</h1>
<div class="form-container">
  <form action="/users" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName">
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </br><a href="/users/admin">Admin Page</a>
  </form>
</div>
{% endblock %}