.title {
    text-align: center;
    margin: 2rem 0 3.2rem; 
}

.form-container {
    border: 1px solid #cecece;
    padding: 2rem;
    width: 50rem;
    margin: 0 auto;
}

.btn {
    margin: 2rem 0 .8rem;
}

.table, .signup-container {
    max-width: 75rem;
    width: 75rem;
    margin: 0 auto;
}